<h2 class="pages_title"> Escritos...</h2>
<br/>
<p id="notice"><%= notice %></p>

<p>

  <h3><%= @text.title %></h3>
</p>

<p align='left'>
  <%= @text.content %>
</p>

<% if refinery_user? %>
<%= link_to 'Editar', edit_text_path(@text) %> |
<% end %>

<%= render :partial => 'comments/index', :locals => {:text => @text} %>

<%= link_to 'Voltar', texts_path %>

